<div class="row">
  <div class="col-sm-12">
    <h2>Create a Restaurant</h2>
    <%= form_for @restaurant do |f| %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :location %>
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :cuisine %>
        <%= f.text_field :cuisine, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :photo_url %>
        <%= f.text_field :photo_url, class: "form-control" %>
      </div>

      <%= f.submit "Create Restaurant", class: "btn btn-default" %>
    <% end %>
  </div>
</div>
