<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :name_or_cuisine_or_location_cont,  class: "form-control" %>

        <%= f.submit "Search", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  <div class="row">
      <% @restaurants.each do |restaurant| %>
        <%= link_to "/restaurants/#{restaurant.id}" do %>
          <div class="col-md-4 restaurant-container">
            <img class="restaurant-photo" src=<%= restaurant.photo_url %> alt="" />
            <h2 class="restaurant-title"><%= restaurant.name %></h2> <p class="restaurant-description" ><%= restaurant.description %></p>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
