<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2><%= @restaurant.name%></h2>
      <%= form_for [@restaurant, @reservation] do |f| %>

        <label for="date">Date:</label>
        <input type="date" name="date" value="">

        <%= f.label :party_size %>
        <%= f.number_field :party_size %>

        <%= f.submit "See Available Times" %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <button>11:00am</button>
      <button>2:00pm</button>
      <button>4:00pm</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">

    </div>
    <ul class="col-sm-12">
      <li>Location: <%= @restaurant.location%></li>
      <li>Description: <%= @restaurant.description%></li>
      <li>Cuisine: <%= @restaurant.cuisine%></li>
    </ul>
  </div>
</div>
