<div class="container">
  <div class="page-header">
    <h2><%= @restaurant.name%></h2>
    <p><%= @restaurant.description%></p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item">Located in <%= @restaurant.location%></li>
        <li class="list-group-item">Cuisine: <%= @restaurant.cuisine%></li>
      </ul>
    </div>
  </div>

  <%= render 'reservation_form' %>
</div>
